.form-title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4.3rem;
}

.form {
  padding: 2rem 4rem;
  box-shadow: 2px 3px 20px 7px rgba(0, 0, 0, 0.075);
  padding-bottom: 1.7rem;
  border-radius: 7px;
  max-width: 98rem;
  min-height: 44rem;
  background-color: rgb(222, 226, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0.8rem;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.inputs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1.4rem;
  margin-bottom: 3rem;
}

input {
  border: none;
  border-radius: 5px;
  flex: 0;
  font-size: 1.8rem;
  font-family: "Roboto";
  padding: 0.8rem 0.5rem;
}

label {
  font-size: 2.2rem;
  font-family: "Roboto";
}

.sign-up-form {
  max-height: 50rem;
  max-width: 80rem;
  padding: 3rem 4rem;
  z-index: 2000;
}

@media (max-width: 31.4375em) {
  .form-title {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4.3rem;
  }

  .form {
    padding: 1rem 2rem;
    box-shadow: 2px 3px 20px 7px rgba(0, 0, 0, 0.075);
    padding-bottom: 1.7rem;
    max-width: 80rem;
    min-height: 30rem;
    margin: 0.6rem;
  }

  .inputs-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.2rem;
    margin-bottom: 2rem;
  }

  input {
    font-size: 1.3rem;
    padding: 0.5rem 0.2rem;
  }

  label {
    font-size: 2rem;
  }

  .sign-up-form {
    max-height: 40rem;
    max-width: 70rem;
    padding: 2rem 3rem;
  }
}

@media (max-width: 24.75em) {
  .form-title {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4.3rem;
  }

  .form {
    padding: 0.2rem 0.3rem;
    overflow: scroll;
    box-shadow: 2px 3px 20px 7px rgba(0, 0, 0, 0.075);
    padding-bottom: 1.7rem;
    width: 25rem;
    min-height: 20rem;
    margin: 0.6rem;
  }

  .inputs-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.2rem;
    margin-bottom: 2rem;
  }

  input {
    font-size: 1.3rem;
    padding: 0.5rem 0.2rem;
  }

  label {
    font-size: 2rem;
  }

  .sign-up-form {
    max-height: 50rem;
    max-width: 100rem;
    padding: 2rem 3rem;
  }
}

@media (max-width: 21.875em) {
  .form-title {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3.5rem;
  }

  .form {
    padding: 0.2rem 0.3rem;
    overflow: scroll;
    box-shadow: 2px 3px 20px 7px rgba(0, 0, 0, 0.075);
    padding-bottom: 1.2rem;
    width: 20rem;
    min-height: 20rem;
    margin: 0.6rem;
  }

  .inputs-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.4rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }

  input {
    font-size: 1.3rem;
    padding: 0.5rem 0.2rem;
  }

  label {
    font-size: 2rem;
  }

  .sign-up-form {
    max-height: 50rem;
    max-width: 100rem;
    padding: 2rem 3rem;
  }
}

