.button {
    background-color: rgb(62, 107, 255);
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 40rem;
    font-size: 2.2rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
